:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #343a40;
  }
  
  .dark-mode {
    --primary-color: #bada55;
    --secondary-color: #5b5b5b;
    --background-color: #343a40;
    --text-color: #f8f9fa;
  }
  